body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  padding: 0 1rem;
}
.content {
  min-height: calc(100vh - 132px);
  padding: 1.5rem 0;
}
.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.card-image {
  height: 320px;
  width: 100%;
  background-size: cover;
}
.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  flex-grow: 1;
}
.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  z-index: 5;
  cursor: pointer;
}
@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50rem;
  max-width: 95%;
}
.basket-btn {
  padding: 0;
  height: auto;
  line-height: 20px;
  margin: 0;
  background: transparent;
  box-shadow: none;
}
.collection-item table tr {
  border: 0;
}
.width_40 {
  width: 55%;
}
.collection-item button {
  cursor: pointer;
  margin: 0 10px;
}
.flex {
  display: flex;
  align-items: center;
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.page-footer {
  padding: 20px 0;
}
